<!doctype html>
<html>
  <head>
    <title>Github Issues</title>
    <%= stylesheet_link_tag :style %>
  </head>
  <body>
    <script type="text/x-handlebars" data-view="Issues.ApplicationView">
      <div class="row">
        <aside class="orgs two columns">
          <h2><span class="org-icon"></span>Orgs</h2>
          <ul class="side-nav">
            {{#each org in orgs}}
              <li>
                <h4>
                  <a {{action focusOrg context="org"}} class="click">
                    <img {{bindAttr src="org.avatarUrl"}} width="24" height="24">
                    {{org.id}}
                  </a>
                </h4>
              </li>
            {{/each}}
          </ul>
        </aside>
      
        <div class="repos three columns">
          <h2><span class="repo-icon"></span>Repos</h2>
          <ul class="side-nav">
            {{#each repo in controller.focusedOrg.repos}}
              <li>
                <h5>
                  <a {{action focusRepo context="repo"}} class="click">
                    {{repo.name}}
                  </a>
                </h5>
              </li>
            {{/each}}
          </ul>
        </div>

        <div class="issues three columns">
          <h2><span class="issue-icon"></span>Issues</h2>
          <ul>
            {{#each issue in controller.focusedRepo.issues}}
              <li>
                <a {{action focusIssue context="issue"}} class="click">
                  <img {{bindAttr src="issue.user.avatarUrl" alt="issue.user.id"}} width="16" height="16"> {{issue.title}}
                </a>
              </li>
            {{/each}}
          </ul>
        </div>

        <div class="issue four columns">
          {{#if controller.focusedIssue}}
            {{#with controller.focusedIssue}}
              <h2><span class="issue-icon"></span>#{{id}}</h2>
            
              <h5>
                {{title}}
                <span class="user">
                  <img {{bindAttr src="user.avatarUrl" alt="user.id"}} width="16" height="16">
                </span>
              </h5>
              
              {{{bodyHTML}}}
            
              {{#if comments.length}}
                <hr>
                <h6>Comments</h6>
                <ul>
                  {{#each comment in comments}}
                    <li>
                      <p class="user">
                        <img {{bindAttr src="comment.user.avatarUrl" alt="comment.user.id"}} width="16" height="16">
                        {{comment.user.id}}:
                      </p>
                      {{{comment.bodyHTML}}}
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            {{/with}}
          {{/if}}
        </div>
      </div>
    </script>
    <%= javascript_include_tag :app %>
  </body>
</html>